__pycache__/
*.pyc
*.pkl
*.out
*.gz
*.pdf
.DS_Store
.vscode/
.idea/
venv/
env/
node_modules/
data/
saved_models/
gyulgwa/
labeling/manual_labeled_data.pkl
topo/manual_labeled_data.pkl
data/allCountries.txt
